body {
    background-color: #858585;
    font-family: 'Lato', sans-serif;
    color: white;
}

hr {
    border-top: 1px #c8c8c8 solid;
}

.title {
    margin-bottom: 0px;
}

.container {
    display: grid;
    justify-items: center;
}

#gamepad-map area{
    outline: none;
    /* outline-style: none;
    -moz-outline-style: none */
}

#start-game {
    padding: 8px 3px;
    background-color: #000;
    border: 2px #646464 solid;
    color: white;
    text-align: center;
    text-decoration: none;
}

#start-game:hover {
    background-color: #4CAF50;
}


#level-container {
    text-align: center;
    height: 30px;
    width: 50px;
    background-color: #000;
    margin-top: 10px;
}

#level {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    vertical-align: -7px;
}

.footer-text {
    padding: 0px;
    margin: 0px;
}
